<h1>Team</h1>
<div class="jumbotron">
	<div class="row-group row-group-horizontal"
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="..." alt="...">
		      <div class="caption">
		        <h3>Spencer Johnson</h3>
		        <p>Founder, CEO</p>
		        <p><a href="#" class="btn btn-linkedin" role="button">LinkedIn</a> <a href="#" class="btn btn-twitter" role="button">Twitter</a></p>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="..." alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-linkedin" role="button">LinkedIn</a> <a href="#" class="btn btn-twitter" role="button">Twitter</a></>
		      </div>
		    </div>
		  </div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="..." alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-linkedin" role="button">LinkedIn</a> <a href="#" class="btn btn-twitter" role="button">Twitter</a></>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
